Semester 6B/Embedded Systems Engineering/IoT Project/180066F (1).json
[{"id":"40d519a0.7db3","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ffb3c485.535be","type":"ui_text_input","z":"40d519a0.7db3","name":"","label":"Latitude","tooltip":"","group":"1c1cdbc9.f5f9fc","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"text","x":740,"y":1120,"wires":[["18b95268.54050e"]]},{"id":"efb8a833.fc4958","type":"ui_text_input","z":"40d519a0.7db3","name":"","label":"Lognitude","tooltip":"","group":"1c1cdbc9.f5f9fc","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":740,"y":1200,"wires":[["6feb19ad.ec7658"]]},{"id":"7243629a.e8140c","type":"ui_button","z":"40d519a0.7db3","name":"","group":"1c1cdbc9.f5f9fc","order":4,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"true","payloadType":"bool","topic":"","x":460,"y":800,"wires":[["4ae4fe76e976e84c"]]},{"id":"7431529e.66997c","type":"ui_text","z":"40d519a0.7db3","group":"68e37821.20df88","order":2,"width":0,"height":0,"name":"","label":"Sun Rising time:","format":"{{msg.payload}}","layout":"row-spread","x":2340,"y":1020,"wires":[]},{"id":"698c7484.fd7ed4","type":"ui_text","z":"40d519a0.7db3","group":"68e37821.20df88","order":3,"width":0,"height":0,"name":"","label":"Sun Setting Time","format":"{{msg.payload}}","layout":"row-spread","x":2350,"y":1060,"wires":[]},{"id":"b4b0358e.59314","type":"ui_gauge","z":"40d519a0.7db3","name":"","group":"bc7be24f.8a602","order":2,"width":"0","height":"0","gtype":"compass","title":"Direction","label":"deg","format":"{{msg.payload.winddirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2052,"y":560,"wires":[]},{"id":"2f70faf2.6f86fe","type":"ui_chart","z":"40d519a0.7db3","name":"","group":"b34f49f8.852f4","order":3,"width":"0","height":"0","label":"Last Hour Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-50","ymax":"50","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2460,"y":680,"wires":[[]]},{"id":"af9c166b.cb5728","type":"ui_chart","z":"40d519a0.7db3","name":"","group":"b34f49f8.852f4","order":7,"width":"0","height":"0","label":"Last Hour Wind","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"Wait for hour","dot":false,"ymin":"0","ymax":"20","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2440,"y":620,"wires":[[]]},{"id":"ed7d5cb3.7e91e","type":"ui_chart","z":"40d519a0.7db3","name":"","group":"b34f49f8.852f4","order":4,"width":"0","height":"0","label":"Last Hour Humdity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2430,"y":500,"wires":[[]]},{"id":"504315d7.b9409c","type":"ui_ui_control","z":"40d519a0.7db3","name":"","events":"change","x":580,"y":640,"wires":[[]]},{"id":"68c2c3e8.655d7c","type":"function","z":"40d519a0.7db3","name":"Temperature","func":"\nreturn {\n    payload:msg.payload.tempc\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":680,"wires":[["2f70faf2.6f86fe"]]},{"id":"8efde754.f3177","type":"function","z":"40d519a0.7db3","name":"Wind Speed","func":"return{\n    payload:msg.payload.windspeed\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":620,"wires":[["af9c166b.cb5728"]]},{"id":"5a4bb932.62326","type":"function","z":"40d519a0.7db3","name":"Humidity","func":"return{\n    payload:msg.payload.humidity\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2052,"y":500,"wires":[["ed7d5cb3.7e91e"]]},{"id":"838261ed.d3c49","type":"ui_toast","z":"40d519a0.7db3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2470,"y":280,"wires":[]},{"id":"b4fa60e6.38c2d8","type":"function","z":"40d519a0.7db3","name":"","func":"\nif (parseFloat(global.get(\"toggle\"))==1){\n    global.set(\"temperatureLimit\", msg.payload);\n    if (parseFloat(global.get(\"temperatureLimit\")) < parseFloat(global.get(\"tempdata\"))) {\n        return {\n            payload: \"Warning! Temperature is \"+ parseFloat(global.get(\"tempdata\")) + \"C. Exceeds the limit by \" + Math.round((parseFloat(global.get(\"tempdata\"))-parseFloat(global.get(\"temperatureLimit\")))*100)/100+\"C\"\n        }\n    }\n}\n\nif (parseFloat(global.get(\"toggle\")) == 2) {\n\n    global.set(\"pressureLimit\", msg.payload);\n    if (parseFloat(global.get(\"pressureLimit\")) < parseFloat(global.get(\"pressuredata\")/1000)) {\n        return {\n            payload: \"Warning! Pressure is \"+ parseFloat(global.get(\"pressuredata\")/1000) + \"atm. Exceeds the limit by \" + Math.round((parseFloat(global.get(\"pressuredata\")/1000)-parseFloat(global.get(\"pressureLimit\")))*100)/100+\"atm\"\n        }\n    }\n}\n\nif (parseFloat(global.get(\"toggle\")) == 3) {\n\n    global.set(\"windSpeedLimit\", msg.payload);\n    if (parseFloat(global.get(\"windSpeedLimit\")) < parseFloat(global.get(\"winddata\"))) {\n        return {\n            payload: \"Warning! Wind speed is \"+ parseFloat(global.get(\"winddata\")) + \"km/h. Exceeds the limit by \" + Math.round((parseFloat(global.get(\"winddata\"))-parseFloat(global.get(\"windSpeedLimit\")))*100)/100+\"km/h\"\n        }\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2240,"y":280,"wires":[["838261ed.d3c49"]]},{"id":"21f14661.79ab02","type":"ui_gauge","z":"40d519a0.7db3","name":"","group":"bc7be24f.8a602","order":1,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"km/h","format":"{{msg.payload.windspeed}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2050,"y":720,"wires":[]},{"id":"c518f280.744198","type":"ui_gauge","z":"40d519a0.7db3","name":"","group":"667482dc.2d9db4","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2060,"y":760,"wires":[]},{"id":"3f2ff9bc.e8e5be","type":"ui_gauge","z":"40d519a0.7db3","name":"","group":"2673fe7b.9b21da","order":11,"width":0,"height":0,"gtype":"wave","title":"","label":"C","format":"{{msg.payload.tempc}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2050,"y":820,"wires":[]},{"id":"41677008.270998","type":"ui_gauge","z":"40d519a0.7db3","name":"","group":"6519f81b.91e8d8","order":11,"width":"0","height":"0","gtype":"wave","title":"","label":"atm","format":"{{msg.payload.pressure/1000}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2050,"y":860,"wires":[]},{"id":"7208b316.7c0454","type":"ui_text","z":"40d519a0.7db3","group":"68e37821.20df88","order":1,"width":"6","height":"2","name":"Description","label":"{{msg.payload.location}}","format":"{{msg.payload.description}}","layout":"row-spread","x":2070,"y":900,"wires":[]},{"id":"3fed8263.587896","type":"ui_button","z":"40d519a0.7db3","name":"","group":"68e37821.20df88","order":5,"width":0,"height":0,"passthru":false,"label":"AUDIO","tooltip":"","color":"","bgcolor":"","icon":"speaker","payload":"true","payloadType":"bool","topic":"","x":2260,"y":1140,"wires":[["74cea60a.6b84b"]]},{"id":"6bd805d7.25ee1c","type":"function","z":"40d519a0.7db3","name":"Description Audio","func":"global.set(\"description1\", msg.payload.description)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2090,"y":1140,"wires":[[]]},{"id":"74cea60a.6b84b","type":"function","z":"40d519a0.7db3","name":"","func":"let mok=global.get(\"description1\")\nreturn {\n    payload:mok\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2400,"y":1140,"wires":[["1ba82a85.197cf5"]]},{"id":"44e9f430.00e234","type":"ui_text","z":"40d519a0.7db3","group":"88182a3a.3c995","order":1,"width":0,"height":0,"name":"setting description","label":"","format":"Select whether you enter coordinate as city/ country or coordinates","layout":"row-spread","x":230,"y":600,"wires":[]},{"id":"3c8cb06b.33e2e8","type":"ui_switch","z":"40d519a0.7db3","name":"","label":"switch","tooltip":"","group":"7677b3f9.33698c","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":420,"wires":[["2375f8477b04e3f0"]]},{"id":"b86a5363.d41658","type":"function","z":"40d519a0.7db3","name":"Condition","func":"let blink_speed_temp = 1000000;\nlet blink_speed_press = 1000000;\nlet blink_speed_wind = 1000000;\nlet blink_speed = \"Acceptable\";\nlet tempDiff;\nlet pressDiff;\nlet windDiff;\n\n//if (parseFloat(global.get(\"toggle\"))==1){\n    //global.set(\"temperatureLimit\", msg.payload);\nif (parseFloat(global.get(\"temperatureLimit\")) < parseFloat(global.get(\"tempdata\"))) {\n    tempDiff = Math.round((parseFloat(global.get(\"tempdata\")) - parseFloat(global.get(\"temperatureLimit\")))*100)/100;\n    if (tempDiff>35){\n        blink_speed_temp = 500;\n    }else{\n        blink_speed_temp = Math.round((-0.12857*tempDiff+5)*1000);\n    }\n    blink_speed = (Math.min(blink_speed_temp, blink_speed_press, blink_speed_wind)).toString();\n}\n//}\n\n//if (parseFloat(global.get(\"toggle\")) == 2) {\n\n    //global.set(\"pressureLimit\", msg.payload);\nif (parseFloat(global.get(\"pressureLimit\")) < parseFloat(global.get(\"pressuredata\")/1000)) {\n    pressDiff = Math.round((parseFloat(global.get(\"pressuredata\")/1000) - parseFloat(global.get(\"pressureLimit\")))*100)/100;\n    if (pressDiff>1.5){\n        blink_speed_press = 500;\n    }else{\n        blink_speed_press = Math.round((-3*pressDiff+5)*1000);\n    }\n    blink_speed = (Math.min(blink_speed_temp, blink_speed_press, blink_speed_wind)).toString();\n}\n//}\n\n//if (parseFloat(global.get(\"toggle\")) == 3) {\n\n    //global.set(\"windSpeedLimit\", msg.payload);\nif (parseFloat(global.get(\"windSpeedLimit\")) < parseFloat(global.get(\"winddata\"))) {\n    windDiff = Math.round((parseFloat(global.get(\"winddata\")) - parseFloat(global.get(\"windSpeedLimit\")))*100)/100;\n    if (windDiff>100){\n        blink_speed_wind = 500;\n    }else{\n        blink_speed_wind = Math.round((-0.045*windDiff+5)*1000);\n    }\n    blink_speed = (Math.min(blink_speed_temp, blink_speed_press, blink_speed_wind)).toString();\n}\n//}\n\n//blink_speed = Math.min(blink_speed_temp, blink_speed_press, blink_speed_wind)\n\nreturn{\n    payload: blink_speed\n}\n","outputs":1,"noerr":0,"initialize":"let blink_speed_temp = 1000000;\nlet blink_speed_press = 1000000;\nlet blink_speed_wind = 1000000;\nlet blink_speed;\nlet tempDiff;\nlet pressDiff;\nlet windDiff;\n\nif (parseFloat(global.get(\"toggle\"))==1){\n    //global.set(\"temperatureLimit\", msg.payload);\n    if (parseFloat(global.get(\"temperatureLimit\")) < parseFloat(global.get(\"tempdata\"))) {\n        tempDiff = Math.round((parseFloat(global.get(\"tempdata\")) - parseFloat(global.get(\"temperatureLimit\")))*100)/100;\n        if (tempDiff>35){\n            blink_speed_temp = 500;\n        }else{\n            blink_speed_temp = Math.round((-0.12857*tempDiff+5)*1000);\n        }\n    blink_speed =  (Math.min(blink_speed_temp, blink_speed_press, blink_speed_wind)).toString();\n    }\n}\n\nif (parseFloat(global.get(\"toggle\")) == 2) {\n\n    //global.set(\"pressureLimit\", msg.payload);\n    if (parseFloat(global.get(\"pressureLimit\")) < parseFloat(global.get(\"pressuredata\")/1000)) {\n        pressDiff = Math.round((parseFloat(global.get(\"pressuredata\")/1000) - parseFloat(global.get(\"pressureLimit\")))*100)/100;\n        if (pressDiff>1.5){\n            blink_speed_press = 500;\n        }else{\n            blink_speed_press = Math.round((-3*pressDiff+5)*1000);\n        }\n    blink_speed =  (Math.min(blink_speed_temp, blink_speed_press, blink_speed_wind)).toString();\n    }\n}\n\nif (parseFloat(global.get(\"toggle\")) == 3) {\n\n    //global.set(\"windSpeedLimit\", msg.payload);\n    if (parseFloat(global.get(\"windSpeedLimit\")) < parseFloat(global.get(\"winddata\"))) {\n        windDiff = Math.round((parseFloat(global.get(\"winddata\")) - parseFloat(global.get(\"windSpeedLimit\")))*100)/100;\n        if (windDiff>100){\n            blink_speed_wind = 500;\n        }else{\n            blink_speed_wind = Math.round((-0.045*windDiff+5)*1000);\n        }\n    blink_speed =  (Math.min(blink_speed_temp, blink_speed_press, blink_speed_wind)).toString();\n    }\n}\n\nreturn{\n    payload: blink_speed\n}\n","finalize":"","x":2052,"y":960,"wires":[["1005ac46.40891c"]]},{"id":"c2e17152.5be5c8","type":"mqtt in","z":"40d519a0.7db3","name":"","topic":"ENTC/EN3240/out/180066F","qos":"2","datatype":"auto","broker":"60bafa35.9ace2c","x":2412,"y":880,"wires":[["5273256b.dd9274"]]},{"id":"1005ac46.40891c","type":"mqtt out","z":"40d519a0.7db3","name":"","topic":"ENTC/EN3240/in/180066F","qos":"","retain":"","broker":"60bafa35.9ace2c","x":2412,"y":960,"wires":[]},{"id":"5273256b.dd9274","type":"debug","z":"40d519a0.7db3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2722,"y":880,"wires":[]},{"id":"6feb19ad.ec7658","type":"function","z":"40d519a0.7db3","name":"","func":"global.set(\"long\", msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1200,"wires":[[]]},{"id":"18b95268.54050e","type":"function","z":"40d519a0.7db3","name":"","func":"global.set(\"lati\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1120,"wires":[[]]},{"id":"a52d8ab2a15edeea","type":"ui_dropdown","z":"40d519a0.7db3","name":"","label":"","tooltip":"","place":"Select option","group":"88182a3a.3c995","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Cordinates","value":false,"type":"bool"},{"label":"Country/City","value":true,"type":"bool"}],"payload":"","topic":"","x":200,"y":640,"wires":[["c836bb42ab8f6741"]]},{"id":"c836bb42ab8f6741","type":"function","z":"40d519a0.7db3","name":"Group shift","func":"if(msg.payload){\n\nreturn{\n    payload: { \"group\": { \"hide\": [\"Weather_Input_Cordinates\"], \"show\": [\"Weather_Input_Country/City\"], \"focus\": true}}\n    }\n}\n\nelse{\n\n    return {\n        payload: { \"group\": { \"show\": [\"Weather_Input_Cordinates\"], \"hide\": [\"Weather_Input_Country/City\"], \"focus\": true } }\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":640,"wires":[["504315d7.b9409c"]]},{"id":"2a70b31837ab4405","type":"ui_text_input","z":"40d519a0.7db3","name":"","label":"Country","tooltip":"","group":"04f522979d77de2e","order":1,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"text","x":740,"y":1280,"wires":[["8323994c450b232a"]]},{"id":"41d49494a091f4fe","type":"ui_text_input","z":"40d519a0.7db3","name":"","label":"City","tooltip":"","group":"04f522979d77de2e","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":730,"y":1360,"wires":[["1806e85a4f0baec0"]]},{"id":"1806e85a4f0baec0","type":"function","z":"40d519a0.7db3","name":"","func":"global.set(\"city\", msg.payload)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1360,"wires":[[]]},{"id":"8323994c450b232a","type":"function","z":"40d519a0.7db3","name":"","func":"global.set(\"coun\", msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1280,"wires":[[]]},{"id":"b2bd73f466c46dea","type":"ui_button","z":"40d519a0.7db3","name":"","group":"04f522979d77de2e","order":3,"width":"0","height":"0","passthru":false,"label":"Submit","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"true","payloadType":"bool","topic":"","x":420,"y":1060,"wires":[["bc6ff605c7d863ab"]]},{"id":"5317e49342025653","type":"function","z":"40d519a0.7db3","name":"","func":"let country;\nlet city;\nlet latitude;\nlet lognitude;\n\ncountry=global.get(\"coun\")\ncity=global.get(\"city\")\nlatitude = parseFloat(global.get(\"lati\"))\nlognitude = parseFloat(global.get(\"long\"))\n\nif (msg.delay || msg.location.hasOwnProperty(\"city\")){\n    \n    msg.location= {\"country\": country, \"city\": city};\n    \n}else if (msg.delay|| msg.location.hasOwnProperty(\"lat\")) {\n    msg.location = {\"lat\": latitude, \"lon\": lognitude};\n}\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":920,"wires":[["8511dabf.4f8058","3bf13c77ac2b9158","a0556fc0ef79c5a4"]]},{"id":"202d19f6.18ab96","type":"ui_slider","z":"40d519a0.7db3","name":"","label":"Warning","tooltip":"msg.payload","group":"8f9db8fa.91818","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"15","max":"45","step":"1","x":2060,"y":280,"wires":[["b4fa60e6.38c2d8"]]},{"id":"a8833f4cafd9b9ab","type":"function","z":"40d519a0.7db3","name":"sunrise function","func":"var dtm = new Date(msg.payload.sunrise * 1000); // sunrise ms value is 1514308422000\nvar str1 = dtm.toLocaleTimeString();\nmsg.payload = str1;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2080,"y":1020,"wires":[["7431529e.66997c"]]},{"id":"8497068b39d2f4bf","type":"function","z":"40d519a0.7db3","name":"sunset function","func":"var dtm = new Date(msg.payload.sunset * 1000); // sunrise ms value is 1514308422000\nvar str2 = dtm.toLocaleTimeString();\nmsg.payload = str2;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2080,"y":1060,"wires":[["698c7484.fd7ed4"]]},{"id":"1ba82a85.197cf5","type":"ui_audio","z":"40d519a0.7db3","name":"Audio","group":"68e37821.20df88","voice":"Microsoft Zira - English (United States)","always":"","x":2530,"y":1140,"wires":[]},{"id":"d02a7a075cf68cbb","type":"comment","z":"40d519a0.7db3","name":"Country/City or Coordinates","info":"Country/City or Cordinates","x":260,"y":560,"wires":[]},{"id":"2375f8477b04e3f0","type":"function","z":"40d519a0.7db3","name":"chart hide/show","func":"if(msg.payload){\n\nreturn{\n    payload: { \"tabs\": { \"show\": [\"Charts\"]}}\n    }\n}\n\nelse{\n\n    return {\n        payload: { \"tabs\": { \"hide\": [\"Charts\"]} }\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":420,"wires":[["a9fbbb9d6e725693"]]},{"id":"a9fbbb9d6e725693","type":"ui_ui_control","z":"40d519a0.7db3","name":"","events":"change","x":620,"y":420,"wires":[[]]},{"id":"91bf046db0eb7fd3","type":"comment","z":"40d519a0.7db3","name":"Show/hide the charts tab","info":"Country/City or Cordinates","x":250,"y":380,"wires":[]},{"id":"c420978c49e7bb3c","type":"ui_dropdown","z":"40d519a0.7db3","name":"","label":"Warning","tooltip":"","place":"Select option","group":"8f9db8fa.91818","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Temperature","value":1,"type":"num"},{"label":"Pressure","value":2,"type":"num"},{"label":"Wind Speed","value":3,"type":"num"}],"payload":"","topic":"","x":1620,"y":280,"wires":[["2618ccdd1351b044"]]},{"id":"2618ccdd1351b044","type":"function","z":"40d519a0.7db3","name":"max/min set function","func":"global.set(\"toggle\", msg.payload);\n\nif(msg.payload == 1){\n    msg.ui_control = { min: 10, max: 45 }\n}\n\nelse if (msg.payload == 2) {\n    msg.ui_control = { min: 0.5, max: 2, step:0.1 }\n}\n\nelse if (msg.payload == 3) {\n    msg.ui_control = { min: 0, max: 100 }\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":280,"wires":[["202d19f6.18ab96"]]},{"id":"5019505a0da8b53d","type":"function","z":"40d519a0.7db3","name":"temperature","func":"global.set(\"tempdata\", msg.payload.tempc);\nreturn {\n    payload: msg.payload.tempc\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2062,"y":360,"wires":[[]]},{"id":"1fc43c4799475f4a","type":"function","z":"40d519a0.7db3","name":"Wind speed","func":"global.set(\"winddata\", msg.payload.windspeed);\nreturn {\n    payload: msg.payload.windspeed\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2062,"y":440,"wires":[[]]},{"id":"188cd30d9506ee21","type":"function","z":"40d519a0.7db3","name":"Pressure","func":"global.set(\"pressuredata\", msg.payload.pressure);\nreturn {\n    payload: msg.payload.pressure\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2052,"y":400,"wires":[[]]},{"id":"cf2acd53bfa0e0a9","type":"ui_numeric","z":"40d519a0.7db3","name":"","label":"Update interval (seconds)","tooltip":"","group":"88182a3a.3c995","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","format":"{{value}}","min":"1","max":"100","step":1,"x":230,"y":920,"wires":[["bc75522c11c85459"]]},{"id":"bc75522c11c85459","type":"function","z":"40d519a0.7db3","name":"Updating function","func":"msg.delay = msg.payload*1000; //*1000\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":920,"wires":[["73fc1a02c49a0d5b","3148ac4e.8470d4"]]},{"id":"7ca3a12265a4e394","type":"debug","z":"40d519a0.7db3","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1640,"y":1200,"wires":[]},{"id":"4ae4fe76e976e84c","type":"function","z":"40d519a0.7db3","name":"function 1","func":"global.set(\"cordinatesenable\", true);\n//return {\n //   payload: global.get(\"cordinatesenable\")\n//}\n\nif(msg.payload){\n    return{\n        location : {\n            lat : \"\",\n            lon : \"\"\n        }\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":800,"wires":[["89ec43060cdeaa2e","73fc1a02c49a0d5b"]]},{"id":"bc6ff605c7d863ab","type":"function","z":"40d519a0.7db3","name":"function 2","func":"global.set(\"cordinatesenable\", false);\n//return {\n  //  payload: global.get(\"cordinatesdisable\")\n//}\n\nif(msg.payload){\n    return{\n        location : {\n            country : \"\",\n            city : \"\"\n        }\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1060,"wires":[["1475adc75cc32da2","73fc1a02c49a0d5b"]]},{"id":"73fc1a02c49a0d5b","type":"trigger","z":"40d519a0.7db3","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-30","extend":false,"overrideDelay":true,"units":"s","reset":"12","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":920,"wires":[["5317e49342025653"]]},{"id":"89ec43060cdeaa2e","type":"debug","z":"40d519a0.7db3","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":800,"wires":[]},{"id":"1475adc75cc32da2","type":"debug","z":"40d519a0.7db3","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":1040,"wires":[]},{"id":"a0556fc0ef79c5a4","type":"function","z":"40d519a0.7db3","name":"","func":"let lan;\nlet lon;\n\nlan = parseFloat(global.get(\"lati\"))\nlon = parseFloat(global.get(\"long\"))\n\nif(msg.location.hasOwnProperty(\"city\")){\n    return;\n}else{\n    msg.location = {\"lat\": lan, \"lon\": lon};\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1020,"wires":[["4b765d82.53b3c4"]]},{"id":"3bf13c77ac2b9158","type":"function","z":"40d519a0.7db3","name":"","func":"let country;\nlet city;\n\ncountry=global.get(\"coun\")\ncity=global.get(\"city\")\n\nif(msg.location.hasOwnProperty(\"city\")){\n    msg.location= {\"country\": country, \"city\": city};\n    return msg;\n}else{\n    return;\n}\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":840,"wires":[["ac6c6728.c85d08"]]},{"id":"8511dabf.4f8058","type":"debug","z":"40d519a0.7db3","name":"check output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":760,"wires":[]},{"id":"4b765d82.53b3c4","type":"openweathermap","z":"40d519a0.7db3","name":"OWM_latLon","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":1410,"y":1100,"wires":[["7ca3a12265a4e394","6bd805d7.25ee1c","8497068b39d2f4bf","a8833f4cafd9b9ab","b86a5363.d41658","7208b316.7c0454","41677008.270998","3f2ff9bc.e8e5be","c518f280.744198","21f14661.79ab02","68c2c3e8.655d7c","8efde754.f3177","b4b0358e.59314","5a4bb932.62326","1fc43c4799475f4a","188cd30d9506ee21","5019505a0da8b53d"]]},{"id":"ac6c6728.c85d08","type":"openweathermap","z":"40d519a0.7db3","name":"OWM_cityCountry","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":1390,"y":920,"wires":[["7ca3a12265a4e394","6bd805d7.25ee1c","8497068b39d2f4bf","a8833f4cafd9b9ab","b86a5363.d41658","7208b316.7c0454","41677008.270998","3f2ff9bc.e8e5be","c518f280.744198","21f14661.79ab02","68c2c3e8.655d7c","8efde754.f3177","b4b0358e.59314","5a4bb932.62326","1fc43c4799475f4a","188cd30d9506ee21","5019505a0da8b53d"]]},{"id":"3148ac4e.8470d4","type":"debug","z":"40d519a0.7db3","name":"Update OP node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":1000,"wires":[]},{"id":"5a493a8d.2603f4","type":"comment","z":"40d519a0.7db3","name":"Access openweathermap","info":"","x":1430,"y":840,"wires":[]},{"id":"f6c11aae.27f0a8","type":"comment","z":"40d519a0.7db3","name":"Warning notifications","info":"","x":1680,"y":220,"wires":[]},{"id":"df100c66.1fd82","type":"comment","z":"40d519a0.7db3","name":"MQTT","info":"","x":2340,"y":820,"wires":[]},{"id":"522f388f.394298","type":"comment","z":"40d519a0.7db3","name":"Hour-long charts","info":"","x":2420,"y":460,"wires":[]},{"id":"46ae7708.432318","type":"comment","z":"40d519a0.7db3","name":"Audio","info":"","x":2050,"y":1200,"wires":[]},{"id":"1c1cdbc9.f5f9fc","type":"ui_group","name":"Input Cordinates","tab":"38e4ba33.913ab6","order":2,"disp":true,"width":"6","collapse":false},{"id":"68e37821.20df88","type":"ui_group","name":"Description","tab":"38e4ba33.913ab6","order":4,"disp":true,"width":"6","collapse":false},{"id":"bc7be24f.8a602","type":"ui_group","name":"Wind","tab":"38e4ba33.913ab6","order":5,"disp":true,"width":"6","collapse":false},{"id":"b34f49f8.852f4","type":"ui_group","name":"Visualization ","tab":"9399e679.197f68","order":9,"disp":true,"width":"5","collapse":false},{"id":"667482dc.2d9db4","type":"ui_group","name":"Humidity Data","tab":"38e4ba33.913ab6","order":7,"disp":true,"width":"6","collapse":false},{"id":"2673fe7b.9b21da","type":"ui_group","name":"Temperature Data","tab":"38e4ba33.913ab6","order":6,"disp":true,"width":"6","collapse":false},{"id":"6519f81b.91e8d8","type":"ui_group","name":"Pressure","tab":"38e4ba33.913ab6","order":8,"disp":true,"width":"6","collapse":false},{"id":"88182a3a.3c995","type":"ui_group","name":"Input method","tab":"bc1e4cfe.0b04e","order":6,"disp":true,"width":"6","collapse":false},{"id":"7677b3f9.33698c","type":"ui_group","name":"Charts","tab":"bc1e4cfe.0b04e","order":7,"disp":true,"width":"6","collapse":false},{"id":"60bafa35.9ace2c","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"04f522979d77de2e","type":"ui_group","name":"Input Country/City","tab":"38e4ba33.913ab6","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f9db8fa.91818","type":"ui_group","name":"Warning","tab":"38e4ba33.913ab6","order":3,"disp":true,"width":"6","collapse":false},{"id":"38e4ba33.913ab6","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"9399e679.197f68","type":"ui_tab","name":"Charts","icon":"dashboard","disabled":false,"hidden":false},{"id":"bc1e4cfe.0b04e","type":"ui_tab","name":"Settings","icon":"dashboard","disabled":false,"hidden":false}]